.good {
    color: limegreen
}

.bad {
    color: crimson;
}

#ccontain {
    width: fit-content;
    height: fit-content
}

textarea {
    width: 640px;
    height: 480px;
    resize: none;
}

div#controlsd {
    margin: 0;
    margin-top: 4px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
    gap: 16px;
}

div.dfc {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

p {
    margin: 16px;
}