* {
    box-sizing: border-box;
    font-family: 'Inter', system-ui, -apple-system, sans-serif;
    /* fix for Chrome */
    font-feature-settings: 'liga' 1, 'calt' 1;
    font-size: 12pt;
}

@supports (font-variation-settings: normal) {
    * {
        font-family: 'InterVariable', 'Inter', system-ui, -apple-system, sans-serif;
    }
}

canvas {
    border: solid 1px #000;
    flex: 0 0 auto;
    align-self: flex-start;
}


.good {
    color: limegreen
}

.bad {
    color: crimson;
}

#ccontain {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: stretch;
    width: fit-content;
    height: fit-content
}

p {
    margin: 0;
}

textarea {
    margin: 0;
    width: 640px;
    height: 480px;
    resize: vertical;
    border: solid 1px #000;
    outline: none;
    border-radius: 0;
}

textarea,
pre {
    font-family: monospace;
    font-size: 12pt;
}

div.dfc {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
    height: fit-content;
}

pre#error {
    background-color: hsl(320, 100%, 20%);
    color: hsl(50, 100%, 50%);
    width: fit-content;
    height: fit-content;
    padding: 8px;
    border: solid hsla(50, 100%, 50%, 1.0) 2px;
    border-radius: 4px;
    box-shadow: 0 0 0 3px hsl(320, 100%, 20%);
    margin: 3px;
}

pre#error::selection {
    background-color: hsl(50, 100%, 50%);
    color: hsl(320, 100%, 20%);
}